.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
.source
/content/
/public/fonts/
/public/favicon.*
/public/sitemap.xml
/public/robots.txt
/public/monkeys.svg
/public/terminal.svg
/public/_redirects
